/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .page_heading{
        background: white;
        padding: 10px;
        color: #FF1744;
        box-sizing: border-box;
        position: sticky;
        top: 59px;
        left: 0;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page_div{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .page_name{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .overview_div{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .todo_wrapper{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .todo_div{
        width: 100%;
        background: #FF1744;
        border-radius: 10px;
        color: white;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        margin-bottom: 10px;
    }

    .todo_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        
    }

    .todo_text{
        font-size: 20px;
        font-weight: bold;
    }

    .todo_note{
        padding-top: 5px;
        font-size: 15px;
        color: white;
    }

    .todo_action{
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .todo_action button{
        background: #FF1744;
        color: white;
        border: none;
        outline: none;
    }

    .date_div{
        width: 100%;
        margin-bottom: 5px;
    }
    .todo_date{
        text-align: left;
        color: #666666;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
  

  
    


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}